# Handle binary files
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.bin binary
*.zip binary

# Android Specific
/android/gradlew text eol=lf
/android/gradlew.bat text eol=crlf
/android/gradle/wrapper/gradle-wrapper.jar binary

# Default to auto
* text=auto

